# Node/Bun dependencies and build output
**/node_modules/
**/build/
**/dist/
bun.lockb

# Prisma: keep only .prisma files and schema.prisma
**/prisma/migrations/
!**/prisma/schema/
!**/prisma/schema.prisma
!**/prisma/*.prisma

# Environment and sensitive files
**/.env
**/.env.*
!.env.example

# Discloud
**/discloud/
**/discloud.config

# Editor/IDE
.vscode/
.idea/
*.sw?
*.code-workspace

# OS/system files
.DS_Store
Thumbs.db

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temporary/output files
*.zip
*.sqlite
*.sql
*.db
*.development.json

# Executables
*.exe

# Firebase (if used)
firebase.json

# Misc
deprecated/
